#menu-bar{
    display: none;
}
.logo{
    top: -10px;
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 5px;
    align-items: center;
}
.logo h1{
    padding-top: 60px;
}
.social{
    position: static;
    justify-content: flex-end;
    display: flex;
    width: auto;
    height: 50px;
    float: right;
}
.social div{
    padding: 15% 10px;
}
.social a{
    color: rgba(255, 255, 255, 0.7);   
}
header label{
    float: left;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    margin: 6px 0px;
}
.menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51, 0.9);
    top: 50px;
    left: 0;
    transition: all 0.5s;
    transform: translateX(-100%) ;
}
.menu a{
    text-align: center;
    justify-content: center;
    display: block;
    color: rgba(255, 255, 255, 0.7);   
    height: 50px;
    padding: 15px;   
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);   
}
.menu a:hover{
    background:  rgba(255, 255, 255, 0.3);   
    color: rgb(255, 255, 255);
}
.social a:hover{
    color: rgb(255, 255, 255);
}
header label:hover{
    color: rgb(255, 255, 255);
}

#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

@media (min-width: 840px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: left;
        display: flex;
        background:none;
    }
    .menu a{
        padding-top: 8%;
        border: none;
        font-size: 10px;
        height: 80px;
    }
    .off{
        font-size: 10px;
        margin-right: 10px;
        padding-bottom: 15px;
    }
    header label{
        display: none;
    }
    .logo{
        top: 0px;
        height: 10px;
    }
    .social{
        height: 80px;
        float: right;
    }
    .social div{
        padding: 10% 13px;
    }
}